.page {
    &__hero {
        height: 35vh !important;
        background-position: top center;

        @include from($tablet) {
            height: 50vh !important;
        }

        @include from($desktop) {
            height: 80vh !important;
            min-height: 500px !important;
            max-height: 800px !important;
        }

        .overlay {
            background: linear-gradient(
                rgba($black, 0) 0%,
                rgba($black, .5) 50%
            );
        }

        h1 {
            z-index: 1;
        }
    }
}
