.single-dynamic-event-cpt,
.single-manual-event-cpt {
    .entry {
        &__hero-image {
            object-fit: cover;
        }

        &__hero-image-credits {
            @media (min-width: 768px) {
                position: absolute;
                left: 0;
                bottom: -2.5rem;
            }
        }

        &__hero-info {
            position: relative;

            * {
                position: relative;
                z-index: 3;
            }
        }

        &__info-group {
            position: relative;
            background-color: $color-jazzhappening-lightgreen;

            .info-group__description {
                > p:first-of-type {
                    margin-top: 0;
                }
            }
        }
    }
}
