.site-header-notice {
    button {
        &__close {
            &,
            &:hover,
            &:focus,
            &:active {
                color: $primary-invert !important;
                border-color: $primary-invert !important;
            }
        }

        &:focus,
        .is-focus {
            outline: .15rem dotted $white !important;
        }
    }
}
