// Font families
@font-face {
    font-family: "Space Grotesk";
    font-weight: 1 999;
    src: url("../fonts/SpaceGrotesk-VariableFont.ttf") format("truetype-variations");
}

@font-face {
    font-family: "Changa";
    font-weight: 1 999;
    src: url("../fonts/Changa-VariableFont.ttf") format("truetype-variations");
}
