// sass-lint:disable no-important

.has-text-primary-invert {
    &,
    &:active {
        color: $primary-invert !important;
    }
}

.has-text-secondary-invert {
    color: $secondary-invert !important;
}

.has-text-black-invert {
    color: $primary-invert !important;
}

.has-text-white-invert {
    color: $primary !important;
}

.has-background-secondary {
    h2,
    h3,
    h4
    h5,
    p {
        color: $secondary-invert !important;
    }

    a {
        &,
        &:hover,
        &:focus {
            color: $secondary-invert !important;
        }
    }
}

strong {
    color: inherit;
}
