.site-header-notice,
.notice-banner {
    .notice-banner__content {
        a {
            font-weight: $weight-normal !important;
        }
    }

    h2 {
        color: currentColor;
    }

    &.has-background-primary {
        background-color: $primary !important;
        color: $white !important;
    }

    &.has-background-secondary {
        background-color: $secondary !important;
        color: $secondary-invert !important;
    }

    .icon {
        fill: currentColor !important;
    }
}

.notice-banner {
    &.has-background-primary {
        .icon.is-large {
           fill: $primary-invert !important;
        }
    }

    &.has-background-secondary {
        .icon.is-large {
            fill: $secondary-invert !important;
        }
    }
}
